/* Buttons */

button:focus {
    outline: 0;
}

.btn {
    border: 2px solid grey;
    padding: 5px;
    font-size: 15px;
    background-color: #ffffff;
    cursor: pointer;
}

.btn {
    &--play {
        width: 60px;
        height: 60px;
        border-radius: 100%;
        transition: all .2s ease-in-out;
        &:active {
            transform: scale(1.2);
        }
        &:hover {
            background-color: #f2f2f2;
        }
        .icon--play {
            margin-left: 18px;
            width: 0;
            height: 0;
            border-top: 12px solid transparent;
            border-left: 16px solid #000;
            border-bottom: 12px solid transparent;
        }
        .icon--pause {
            margin-left: 17px;
            width: 4px;
            height: 18px;
            border-right: 4px solid #000;
            border-left: 4px solid #000;
        }
    }
}
