.timeline {
    .controls {
        background-color: $color-grey;
        text-align: center;
    }
}

.sequencer {
    text-align: center;
    .note {
        padding: 20px;
        display: inline-block;
        &__symbol {
            width: 20px;
            height: 20px;
            border-radius: 100%;
            background-color: $color-grey;
            transition: all .15s ease-in-out;
            cursor: pointer;
            &:active {
                transform: scale(1.4);
            }
            &:not(:active) {
                &.highlighted {
                    transform: scale(1.4);
                }
            }
        }
    }
}

.instrument {
    &[data-id="basskick"] {
        .note__symbol {
            &.active {
                background-color: $color-dark-grey;
            }
        }
    }
    &[data-id="cowbell"] {
        .note__symbol {
            &.active {
                background-color: $color-dark-brown;
            }
        }
    }
    &[data-id="hihat"] {
        .note__symbol {
            &.active {
                background-color: $color-yellow;
            }
        }
    }
    &[data-id="snare"] {
        .note__symbol {
            &.active {
                background-color: $color-brown;
            }
        }
    }
    &[data-id="tom1"] {
        .note__symbol {
            &.active {
                background-color: $color-blue;
            }
        }
    }
    &[data-id="tom2"] {
        .note__symbol {
            &.active {
                background-color: $color-dark-blue;
            }
        }
    }
}

.volume-control {
    text-align: center;
}
