@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

$font-family: 'Lato', Helvetica, sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.5;

$color-black: #000000;
$color-grey: #cccccc;
$color-dark-grey: #626262;
$color-yellow: #f4e300;
$color-green: #2ee89a;
$color-pink: #7310e5;
$color-red: #ef093f;
$color-blue: #66d9ff;
$color-dark-blue: #3399ff;
$color-brown: #bb5900;
$color-dark-brown: #956748;

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: $font-family;
}

@import 'components/_buttons.scss';
@import 'components/_timeline.scss';
@import 'components/_band.scss';
